<div class="container">
    <div class="top_section">
        <h1>CROSSWORD PUZZLE</h1>
    </div>
        <div class="grid">

            <mat-grid-list cols="7" rowHeight="1:1">

                <mat-grid-tile>

                    <p>1</p>

                    <input matInput type="text" id="1" name="1" #cell1 class="form-control"
                    maxlength="1" size="1" pattern="[Ww]{1}"
                    (input)="cell1.value = cell1.value.toUpperCase()" 
                    [(ngModel)]="cell1.value" #c1="ngModel">

                    <div *ngIf="c1.invalid && (c1.dirty || c1.touched)"
                    class="alert">
                        <div *ngIf="c1.errors?.pattern">
                        Wrong letter! Please try again.
                        </div>
                    </div>


                </mat-grid-tile>

                <mat-grid-tile>

                    <input matInput type="text" id="2" name="2" #cell2 class="form-control"
                    maxlength="1" size="1" pattern="[Aa]{1}"
                    (input)="cell2.value = cell2.value.toUpperCase()"
                    [(ngModel)]="cell2.value" #c2="ngModel">

                    <div *ngIf="c2.invalid && (c2.dirty || c2.touched)"
                    class="alert">
            
                        <div *ngIf="c2.errors?.pattern">
                        Wrong letter! Please try again.
                        </div>
            
                    </div>

                </mat-grid-tile>

                <mat-grid-tile>

                    <p>3</p>

                    <input matInput type="text" id="3" name="3" #cell3 class="form-control"
                    maxlength="1" size="1" pattern="[Ii]{1}"
                    (input)="cell3.value = cell3.value.toUpperCase()"
                    [(ngModel)]="cell3.value" #c3="ngModel">

                    <div *ngIf="c3.invalid && (c3.dirty || c3.touched)"
                    class="alert">
            
                        <div *ngIf="c3.errors?.pattern">
                        Wrong letter! Please try again.
                        </div>
            
                    </div>

                </mat-grid-tile>

                <mat-grid-tile>

                    <input matInput type="text" id="4" name="4" #cell4 class="form-control"
                    maxlength="1" size="1" pattern="[Ll]{1}"
                    (input)="cell4.value = cell4.value.toUpperCase()"
                    [(ngModel)]="cell4.value" #c4="ngModel">

                    <div *ngIf="c4.invalid && (c4.dirty || c4.touched)"
                    class="alert">
            
                        <div *ngIf="c4.errors?.pattern">
                        Wrong letter! Please try again.
                        </div>
            
                    </div>

                </mat-grid-tile>

                <mat-grid-tile>

                    <p>5</p>

                    <input matInput type="text" id="5" name="5" #cell5 class="form-control"
                    maxlength="1" size="1" pattern="[Ii]{1}"
                    (input)="cell5.value = cell5.value.toUpperCase()"
                    [(ngModel)]="cell5.value" #c5="ngModel">

                    <div *ngIf="c5.invalid && (c5.dirty || c5.touched)"
                    class="alert">
            
                        <div *ngIf="c5.errors?.pattern">
                        Wrong letter! Please try again.
                        </div>
                        
                    </div>

                </mat-grid-tile>

                <mat-grid-tile>

                    <input matInput type="text" id="6" name="6" #cell6 class="form-control"
                    maxlength="1" size="1" pattern="[Nn]{1}"
                    (input)="cell6.value = cell6.value.toUpperCase()"
                    [(ngModel)]="cell6.value" #c6="ngModel">

                    <div *ngIf="c6.invalid && (c6.dirty || c6.touched)"
                    class="alert">

                        <div *ngIf="c6.errors?.pattern">
                        Wrong letter! Please try again.
                        </div>
            
                    </div>

                </mat-grid-tile>

                <mat-grid-tile>

                    <p>7</p>

                    <input matInput type="text" id="7" name="7" #cell7 class="form-control"
                    maxlength="1" size="1" pattern="[Gg]{1}"
                    (input)="cell7.value = cell7.value.toUpperCase()"
                    [(ngModel)]="cell7.value" #c7="ngModel">

                    <div *ngIf="c7.invalid && (c7.dirty || c7.touched)"
                    class="alert">

                        <div *ngIf="c7.errors?.pattern">
                        Wrong letter! Please try again.
                        </div>
            
                    </div>

                </mat-grid-tile>

                <mat-grid-tile>

                    <input matInput type="text" id="8" name="8" #cell8 class="form-control"
                    maxlength="1" size="1" pattern="[Hh]{1}"
                    (input)="cell8.value = cell8.value.toUpperCase()"
                    [(ngModel)]="cell8.value" #c8="ngModel">

                    <div *ngIf="c8.invalid && (c8.dirty || c8.touched)"
                    class="alert">

                        <div *ngIf="c8.errors?.pattern">
                        Wrong letter! Please try again.
                        </div>
            
                    </div>

                </mat-grid-tile>
                
                <mat-grid-tile class="blacktile">9</mat-grid-tile>

                <mat-grid-tile>
                    
                    <input matInput type="text" id="10" name="10" #cell10 class="form-control"
                    maxlength="1" size="1" pattern="[Mm]{1}"
                    (input)="cell10.value = cell10.value.toUpperCase()"
                    [(ngModel)]="cell10.value" #c10="ngModel">

                    <div *ngIf="c10.invalid && (c10.dirty || c10.touched)"
                    class="alert">

                        <div *ngIf="c10.errors?.pattern">
                        Wrong letter! Please try again.
                        </div>
            
                    </div>
                </mat-grid-tile>

                <mat-grid-tile class="blacktile">11</mat-grid-tile>

                <mat-grid-tile>

                    <input matInput type="text" id="12" name="12" #cell12 class="form-control"
                    maxlength="1" size="1" pattern="[Cc]{1}"
                    (input)="cell12.value = cell12.value.toUpperCase()"
                    [(ngModel)]="cell12.value" #c12="ngModel">

                    <div *ngIf="c12.invalid && (c12.dirty || c12.touched)"
                    class="alert">

                        <div *ngIf="c12.errors?.pattern">
                        Wrong letter! Please try again.
                        </div>
            
                    </div>
                </mat-grid-tile>

                <mat-grid-tile class="blacktile">13</mat-grid-tile>

                <mat-grid-tile>

                    <input matInput type="text" id="14" name="14" #cell14 class="form-control"
                    maxlength="1" size="1" pattern="[Oo]{1}"
                    (input)="cell14.value = cell14.value.toUpperCase()"
                    [(ngModel)]="cell14.value" #c14="ngModel">

                    <div *ngIf="c14.invalid && (c14.dirty || c14.touched)"
                    class="alert">

                        <div *ngIf="c14.errors?.pattern">
                        Wrong letter! Please try again.
                        </div>
            
                    </div>

                </mat-grid-tile>

                <mat-grid-tile>

                    <p>3</p>

                    <input matInput type="text" id="15" name="15" #cell15 class="form-control"
                    maxlength="1" size="1" pattern="[Ii]{1}"
                    (input)="cell15.value = cell15.value.toUpperCase()"
                    [(ngModel)]="cell15.value" #c15="ngModel">

                    <div *ngIf="c15.invalid && (c15.dirty || c15.touched)"
                    class="alert">

                        <div *ngIf="c15.errors?.pattern">
                        Wrong letter! Please try again.
                        </div>
            
                    </div>
                </mat-grid-tile>

                <mat-grid-tile>

                    <input matInput type="text" id="16" name="16" #cell16 class="form-control"
                    maxlength="1" size="1" pattern="[Nn]{1}"
                    (input)="cell16.value = cell16.value.toUpperCase()"
                    [(ngModel)]="cell16.value" #c16="ngModel">

                    <div *ngIf="c16.invalid && (c16.dirty || c16.touched)"
                    class="alert">

                        <div *ngIf="c16.errors?.pattern">
                        Wrong letter! Please try again.
                        </div>
            
                    </div>
                </mat-grid-tile>

                <mat-grid-tile>

                    <input matInput type="text" id="17" name="17" #cell17 class="form-control"
                    maxlength="1" size="1" pattern="[Bb]{1}"
                    (input)="cell17.value = cell17.value.toUpperCase()"
                    [(ngModel)]="cell17.value" #c17="ngModel">

                    <div *ngIf="c17.invalid && (c17.dirty || c17.touched)"
                    class="alert">

                        <div *ngIf="c17.errors?.pattern">
                        Wrong letter! Please try again.
                        </div>
            
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>

                    <input matInput type="text" id="18" name="18" #cell18 class="form-control"
                    maxlength="1" size="1" pattern="[Rr]{1}"
                    (input)="cell18.value = cell18.value.toUpperCase()"
                    [(ngModel)]="cell18.value" #c18="ngModel">

                    <div *ngIf="c18.invalid && (c18.dirty || c18.touched)"
                    class="alert">

                        <div *ngIf="c18.errors?.pattern">
                        Wrong letter! Please try again.
                        </div>
            
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    
                    <input matInput type="text" id="19" name="19" #cell19 class="form-control"
                    maxlength="1" size="1" pattern="[Ee]{1}"
                    (input)="cell19.value = cell19.value.toUpperCase()"
                    [(ngModel)]="cell19.value" #c19="ngModel">

                    <div *ngIf="c19.invalid && (c19.dirty || c19.touched)"
                    class="alert">

                        <div *ngIf="c19.errors?.pattern">
                        Wrong letter! Please try again.
                        </div>
            
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    
                    <input matInput type="text" id="20" name="20" #cell20 class="form-control"
                    maxlength="1" size="1" pattern="[Ee]{1}"
                    (input)="cell20.value = cell20.value.toUpperCase()"
                    [(ngModel)]="cell20.value" #c20="ngModel">

                    <div *ngIf="c20.invalid && (c20.dirty || c20.touched)"
                    class="alert">

                        <div *ngIf="c20.errors?.pattern">
                        Wrong letter! Please try again.
                        </div>
            
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    
                    <input matInput type="text" id="21" name="21" #cell21 class="form-control"
                    maxlength="1" size="1" pattern="[Dd]{1}"
                    (input)="cell21.value = cell21.value.toUpperCase()"
                    [(ngModel)]="cell21.value" #c21="ngModel">

                    <div *ngIf="c21.invalid && (c21.dirty || c21.touched)"
                    class="alert">

                        <div *ngIf="c21.errors?.pattern">
                        Wrong letter! Please try again.
                        </div>
            
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    
                    <input matInput type="text" id="22" name="22" #cell22 class="form-control"
                    maxlength="1" size="1" pattern="[Tt]{1}"
                    (input)="cell22.value = cell22.value.toUpperCase()"
                    [(ngModel)]="cell22.value" #c22="ngModel">

                    <div *ngIf="c22.invalid && (c22.dirty || c22.touched)"
                    class="alert">

                        <div *ngIf="c22.errors?.pattern">
                        Wrong letter! Please try again.
                        </div>
            
                    </div>
                </mat-grid-tile>

                <mat-grid-tile  class="blacktile">23</mat-grid-tile>

                <mat-grid-tile>
                    
                    <input matInput type="text" id="24" name="24" #cell24 class="form-control"
                    maxlength="1" size="1" pattern="[Ii]{1}"
                    (input)="cell24.value = cell24.value.toUpperCase()"
                    [(ngModel)]="cell24.value" #c24="ngModel">

                    <div *ngIf="c24.invalid && (c24.dirty || c24.touched)"
                    class="alert">

                        <div *ngIf="c24.errors?.pattern">
                        Wrong letter! Please try again.
                        </div>
            
                    </div>
                </mat-grid-tile>
                <mat-grid-tile class="blacktile">25</mat-grid-tile>
                <mat-grid-tile>

                    <input matInput type="text" id="26" name="26" #cell26 class="form-control"
                    maxlength="1" size="1" pattern="[Ff]{1}"
                    (input)="cell26.value = cell26.value.toUpperCase()"
                    [(ngModel)]="cell26.value" #c26="ngModel">

                    <div *ngIf="c26.invalid && (c26.dirty || c26.touched)"
                    class="alert">

                        <div *ngIf="c26.errors?.pattern">
                        Wrong letter! Please try again.
                        </div>
            
                    </div>
                </mat-grid-tile>

                <mat-grid-tile class="blacktile">27</mat-grid-tile>

                <mat-grid-tile>
                    
                    <input matInput type="text" id="28" name="28" #cell28 class="form-control"
                    maxlength="1" size="1" pattern="[Hh]{1}"
                    (input)="cell28.value = cell28.value.toUpperCase()"
                    [(ngModel)]="cell28.value" #c28="ngModel">

                    <div *ngIf="c28.invalid && (c28.dirty || c28.touched)"
                    class="alert">

                        <div *ngIf="c28.errors?.pattern">
                        Wrong letter! Please try again.
                        </div>
            
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <p>5</p>
                    
                    <input matInput type="text" id="29" name="29" #cell29 class="form-control"
                    maxlength="1" size="1" pattern="[Ee]{1}"
                    (input)="cell29.value = cell29.value.toUpperCase()"
                    [(ngModel)]="cell29.value" #c29="ngModel">

                    <div *ngIf="c29.invalid && (c29.dirty || c29.touched)"
                    class="alert">

                        <div *ngIf="c29.errors?.pattern">
                        Wrong letter! Please try again.
                        </div>
                    </div>

                </mat-grid-tile>
                <mat-grid-tile>
                    
                    <input matInput type="text" id="30" name="30" #cell30 class="form-control"
                    maxlength="1" size="1" pattern="[Mm]{1}"
                    (input)="cell30.value = cell30.value.toUpperCase()"
                    [(ngModel)]="cell30.value" #c30="ngModel">

                    <div *ngIf="c30.invalid && (c30.dirty || c30.touched)"
                    class="alert">

                        <div *ngIf="c30.errors?.pattern">
                        Wrong letter! Please try again.
                        </div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    
                    <input matInput type="text" id="31" name="31" #cell31 class="form-control"
                    maxlength="1" size="1" pattern="[Bb]{1}"
                    (input)="cell31.value = cell31.value.toUpperCase()"
                    [(ngModel)]="cell31.value" #c31="ngModel">

                    <div *ngIf="c31.invalid && (c31.dirty || c31.touched)"
                    class="alert">

                        <div *ngIf="c31.errors?.pattern">
                        Wrong letter! Please try again.
                        </div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    
                    <input matInput type="text" id="32" name="32" #cell32 class="form-control"
                    maxlength="1" size="1" pattern="[Aa]{1}"
                    (input)="cell32.value = cell32.value.toUpperCase()"
                    [(ngModel)]="cell32.value" #c32="ngModel">

                    <div *ngIf="c32.invalid && (c32.dirty || c32.touched)"
                    class="alert">

                        <div *ngIf="c32.errors?.pattern">
                        Wrong letter! Please try again.
                        </div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    
                    <input matInput type="text" id="33" name="33" #cell33 class="form-control"
                    maxlength="1" size="1" pattern="[Rr]{1}"
                    (input)="cell33.value = cell33.value.toUpperCase()"
                    [(ngModel)]="cell33.value" #c33="ngModel">

                    <div *ngIf="c33.invalid && (c33.dirty || c33.touched)"
                    class="alert">

                        <div *ngIf="c33.errors?.pattern">
                        Wrong letter! Please try again.
                        </div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    
                    <input matInput type="text" id="34" name="34" #cell34 class="form-control"
                    maxlength="1" size="1" pattern="[Gg]{1}"
                    (input)="cell34.value = cell34.value.toUpperCase()"
                    [(ngModel)]="cell34.value" #c34="ngModel">

                    <div *ngIf="c34.invalid && (c34.dirty || c34.touched)"
                    class="alert">

                        <div *ngIf="c34.errors?.pattern">
                        Wrong letter! Please try again.
                        </div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    
                    <input matInput type="text" id="35" name="35" #cell35 class="form-control"
                    maxlength="1" size="1" pattern="[Oo]{1}"
                    (input)="cell35.value = cell35.value.toUpperCase()"
                    [(ngModel)]="cell35.value" #c35="ngModel">

                    <div *ngIf="c35.invalid && (c35.dirty || c35.touched)"
                    class="alert">

                        <div *ngIf="c35.errors?.pattern">
                        Wrong letter! Please try again.
                        </div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    
                    <input matInput type="text" id="36" name="36" #cell36 class="form-control"
                    maxlength="1" size="1" pattern="[Nn]{1}"
                    (input)="cell36.value = cell36.value.toUpperCase()"
                    [(ngModel)]="cell36.value" #c36="ngModel">

                    <div *ngIf="c36.invalid && (c36.dirty || c36.touched)"
                    class="alert">

                        <div *ngIf="c36.errors?.pattern">
                        Wrong letter! Please try again.
                        </div>
                    </div>
                </mat-grid-tile>

                <mat-grid-tile class="blacktile">37</mat-grid-tile>

                <mat-grid-tile>
                    
                    <input matInput type="text" id="38" name="38" #cell38 class="form-control"
                    maxlength="1" size="1" pattern="[Ee]{1}"
                    (input)="cell38.value = cell38.value.toUpperCase()"
                    [(ngModel)]="cell38.value" #c38="ngModel">

                    <div *ngIf="c38.invalid && (c38.dirty || c38.touched)"
                    class="alert">

                        <div *ngIf="c38.errors?.pattern">
                        Wrong letter! Please try again.
                        </div>
                    </div>
                </mat-grid-tile>

                <mat-grid-tile class="blacktile">39</mat-grid-tile>

                <mat-grid-tile>
                    
                    <input matInput type="text" id="40" name="40" #cell40 class="form-control"
                    maxlength="1" size="1" pattern="[Ee]{1}"
                    (input)="cell40.value = cell40.value.toUpperCase()"
                    [(ngModel)]="cell40.value" #c40="ngModel">

                    <div *ngIf="c40.invalid && (c40.dirty || c40.touched)"
                    class="alert">

                        <div *ngIf="c40.errors?.pattern">
                        Wrong letter! Please try again.
                        </div>
                    </div>
                </mat-grid-tile>

                <mat-grid-tile class="blacktile">41</mat-grid-tile>

                <mat-grid-tile>
                    
                    <input matInput type="text" id="42" name="42" #cell42 class="form-control"
                    maxlength="1" size="1" pattern="[Oo]{1}"
                    (input)="cell42.value = cell42.value.toUpperCase()"
                    [(ngModel)]="cell42.value" #c42="ngModel">

                    <div *ngIf="c42.invalid && (c42.dirty || c42.touched)"
                    class="alert">

                        <div *ngIf="c42.errors?.pattern">
                        Wrong letter! Please try again.
                        </div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <p>7</p>
                    
                    <input matInput type="text" id="43" name="43" #cell43 class="form-control"
                    maxlength="1" size="1" pattern="[Ss]{1}"
                    (input)="cell43.value = cell43.value.toUpperCase()"
                    [(ngModel)]="cell43.value" #c43="ngModel">

                    <div *ngIf="c43.invalid && (c43.dirty || c43.touched)"
                    class="alert">

                        <div *ngIf="c43.errors?.pattern">
                        Wrong letter! Please try again.
                        </div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    
                    <input matInput type="text" id="44" name="44" #cell44 class="form-control"
                    maxlength="1" size="1" pattern="[Uu]{1}"
                    (input)="cell44.value = cell44.value.toUpperCase()"
                    [(ngModel)]="cell44.value" #c44="ngModel">

                    <div *ngIf="c44.invalid && (c44.dirty || c44.touched)"
                    class="alert">

                        <div *ngIf="c44.errors?.pattern">
                        Wrong letter! Please try again.
                        </div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    
                    <input matInput type="text" id="45" name="45" #cell45 class="form-control"
                    maxlength="1" size="1" pattern="[Ss]{1}"
                    (input)="cell45.value = cell45.value.toUpperCase()"
                    [(ngModel)]="cell45.value" #c45="ngModel">

                    <div *ngIf="c45.invalid && (c45.dirty || c45.touched)"
                    class="alert">

                        <div *ngIf="c45.errors?.pattern">
                        Wrong letter! Please try again.
                        </div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    
                    <input matInput type="text" id="46" name="46" #cell46 class="form-control"
                    maxlength="1" size="1" pattern="[Pp]{1}"
                    (input)="cell46.value = cell46.value.toUpperCase()"
                    [(ngModel)]="cell46.value" #c46="ngModel">

                    <div *ngIf="c46.invalid && (c46.dirty || c46.touched)"
                    class="alert">

                        <div *ngIf="c46.errors?.pattern">
                        Wrong letter! Please try again.
                        </div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    
                    <input matInput type="text" id="47" name="47" #cell47 class="form-control"
                    maxlength="1" size="1" pattern="[Ee]{1}"
                    (input)="cell47.value = cell47.value.toUpperCase()"
                    [(ngModel)]="cell47.value" #c47="ngModel">

                    <div *ngIf="c47.invalid && (c47.dirty || c47.touched)"
                    class="alert">

                        <div *ngIf="c47.errors?.pattern">
                        Wrong letter! Please try again.
                        </div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    
                    <input matInput type="text" id="48" name="48" #cell48 class="form-control"
                    maxlength="1" size="1" pattern="[Nn]{1}"
                    (input)="cell48.value = cell48.value.toUpperCase()"
                    [(ngModel)]="cell48.value" #c48="ngModel">

                    <div *ngIf="c48.invalid && (c48.dirty || c48.touched)"
                    class="alert">

                        <div *ngIf="c48.errors?.pattern">
                        Wrong letter! Please try again.
                        </div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    
                    <input matInput type="text" id="49" name="49" #cell49 class="form-control"
                    maxlength="1" size="1" pattern="[Dd]{1}"
                    (input)="cell49.value = cell49.value.toUpperCase()"
                    [(ngModel)]="cell49.value" #c49="ngModel">

                    <div *ngIf="c49.invalid && (c49.dirty || c49.touched)"
                    class="alert">

                        <div *ngIf="c49.errors?.pattern">
                        Wrong letter! Please try again.
                        </div>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </div>

    <div class="bottom_section">

        <ul>
            <h1>Across</h1>
            <li><h3>1. Complaining bitterly at the wall in the holy city</h3></li>
            <li><h3>3. Concerning in a state of repose can result in birth abnormalities</h3></li>
            <li><h3>5. Prohibition drinking establishment between typographical measure and board game</h3></li>
            <li><h3>7. Hang American caught by disbursement</h3></li>
            <br>
            <br>
            <h1>Down</h1>
            <li><h3>1. Effect of winter on landscape of pale eastern province</h3></li>
            <li><h3>3. Backing large truck containing protective clothing quenches thirst</h3></li>
            <li><h3>5. Navigable in winter, but immigration agency is absent</h3></li>
            <li><h3>7. Service animal up at your stamping grounds, achieving divinity</h3></li>
        </ul>
    <br>
    </div>
</div>
