
.container {
    background-color: lightyellow;
    padding: 50px 100px 50px 100px;
  }

  .top_section {
    background-color: lightgreen;
    padding: 25px;
    text-align: center;
  }

  .alert {
    background-color: lightcoral;
    padding: 35px;
  }

  .bottom_section {
    background-color: lightgreen;
    padding: 25px;
  }

  .grid {
    background-color: blue;
    padding: 50px 100px 50px 100px;
  }

  mat-grid-list {
    background: black;

  }
  
  mat-grid-tile {
    background: white;
    
  }

  .blacktile {
    background-color: black;
    color:black;
  }

  input {
    font-size: large;
    text-align: center;
    border: none;

  }

  ul {
    list-style-type: none;
  }

  p {
    font-size: xx-small;
    text-align: left;
    padding: 0px 0px 90px 0px;
  }

  h1 {
    font-size: xx-large;
    font-weight: bold;

  }

